
*{
  padding: 0px;
  margin: 0px;
  background: rgb(247, 244, 244);
  
  }

.app {
  height: 700px;
  width: 700px;
  background: #dfdfdf;
  position: relative;
}

.box {
  background: red;
  position: absolute;
  border-radius: 50%;
}