
.header{
    width: 676px;
}
.header-top{
    width:676px;
    height:36px;
  
    background-color: #78c6c0;    
}
.header-top-left{
    float: left;
    line-height: 36px;
    margin-left: 77px;
   
    width: 46px;
    height: 15px;  
}
.header-top-left img{
    width:46px;
}

.header-top .header-top-right {
    margin-left: 133px;
    
   
    color: green;
    
    width: 338px;
    
    
   
    line-height: 36px;
}

.header-top .header-top-right ul{
    float: right;
   

}
.header-top-right li{ 
    
    font-size: 3.55pt;
    float: left;
    margin-right: 19px;
    
    list-style-type: none;
} 


.header-top-right li:hover{
    
  
    
background-color:#60a29e;
    
}
.header-top-right li img:hover{
    
    
    text-align: center;
    background-color:#60a29e;
    
}

.header-bottom{
    width: 676px;
    height: 34px;
    background-color:#ececec;
}
.header-bottom-left{
    
    float: left;
    line-height: 36px;
    margin-left: 77px;
    font-size: 7px;
}
 

.header-bottom-right{
    
    float: right;
    
    
}
.header-bottom-right ul{
    line-height: 36px;
   
    margin-right: 89px;
    
    
}
.header-bottom-right li{
    float: left;
    list-style-type: none;
    font-size: 3.55pt;
    
}

.header-bottom .background-wrapper{
    background-image: url("../images/blueup.png");
    
    height: 30px;
    background-position: center;
    
    color:#76c7c1;
     background-repeat: repeat;

}
.main-container-first{
    height: 226px;
    width: 676px;
    
    background-color: white;
    
    
}
/* .main-container-first .background1{
    
   background-image: url("../images/downarrow.png");
   height: 20px;
   background-position: center;
   
   color:#f3f3f3;
background-repeat: no-repeat;
    
} */
.main-container-first-content{
    
    float: left;
    width: 676px;
    height: 226px;
    
}


.main-container-first-content h2{
    margin-left: 76px;
    margin-top: 23px;
    
    font-size: 13.5pt;
    
}   

.main-container-first-content p{
    margin-left: 74px;
    width: 383px;
    margin-top: 12px;
    font-size: 6.5px;
   

    

}
.col-3-L{
   margin-top: 32px;
    
   margin-left: 76px;
   
   height: 88px;
   
   
}
.col-3-L .left{
    float: left;
    height: 12px;

} 

.col-3-L .left h3{
    font-size: 7.8pt;    
}
.col-3-L .left .list ul {
    width: 101px;
    margin-top: 16px;
    float: left;
} 

.col-3-L .left .list ul li{
    list-style: none;
    margin-top: 7px;
    font-size: 5.6pt;
} 

.col-3-L .right{
    float: left;
    
    height: 86px;
   
    
    
}

.col-3-L .right .col-main-left {
    width: 260px;
    float: left;
}
.col-3-L .right .col-main-left p{
    margin-top: 0px;
    margin-left: 20px;
    width: 236px;
   
    

}
.right .col-main-left .col1{
    float: left;
    width: 55px;
    height: 46px;
    margin-top: 24px;
    margin-left: 9px;
}



.col-3-L .right .col-main-left .col1 .semicircle img{
    float: left;
    
    width: 55px;
    height: 26px;
   
   
}

 .semi-name{
    margin-top: 9px;
    
    text-align: center;
    font-size: 6.4pt;
}

.col-3-L .right .col-main-right{

   float: right;   
   width: 125px;
   margin-left: 20px;
  
}
.col-3-L .right .col-main-right h2{
    color: red;
    margin-left: 0px;
    margin-top: 0px;
    
    font-size: 7.8pt;
}
.col-3-L .right .col-main-right .box{
    width: 121px;
    height: 55px;
    background-color: white;
    margin-top: 13px;
}
.col-3-L .right .col-main-right .box p{
    float: left;
    margin: 8px;
   
    width: 106px;
    height: 38px;
}

.client-name{
    color: red;
    margin-left: 28px;
    font-size: 7.8pt;
}
.main-container-second{

height: 233px;
background-color: #ececec;
}
.main-container-second h1{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    
}

.main-container-third{
    
    width: 676px;
    height: 173px;
    background-color: #f3f3f3;
}


.main-container-third-top h2{
    
    margin-top: 33px;
    color:#808c8a;
    text-align: center;
  

} 

.main-container-third-top p{
    margin-left: 125px;
    margin-top: 0px;
 
    width: 433px;
    font-size: 7px;
    

    
}

.main-container-third-top span{
    margin-left: 155px; 
    width: 433px;
    font-size: 7px;
    margin-top: -17px;
    
}
.happy-clients {

     
   
}

.for-hr{
    width: 90px;
    display: block;
    
    
}
.happy-clients ul li{
    list-style: none;
    display: inline;
}
.happy-clients ul li img{
    height: 20px;
    width: 20px;
}
.main-container-third-bottom{
    margin-left: 35px;
    
    
}
.main-container-third-bottom ul {
    list-style: none;
    
}
.main-container-third-bottom ul li{
    
    float: left;
    margin-left: 20px;
   
    
    
    
}

.fotter{
    height: 150px;
    
    
    background-color:#76c7c1;
    
}
.fotter .background-footer{
    background-image: url("../images/bluearrow.png");
    
    height: 30px;
    background-position: center;
    
    color:#76c7c1;
     background-repeat: repeat;
}
.fotter .fotter-top{
    margin-left: 35px;
  
    height: 137px;
}
/* .background-main-container-second{
    background-image: url("../images/whitedown.png");
    
    height: 30px;
    background-position: center;
    
    color:#76c7c1;
     background-repeat: repeat;

} */
.fotter-top .col-4-left{
    float: left;
}
.fotter-top .col-4-left .left{
   
    width: 166px;
    height: 87px;
 
    float: left;
    margin-left: 18px;

}



.paragrap{
    font-size: 8px;
}
.fotter-top .col-4-left .col-3-L {
     width: 348px;
    height: 300px;
    float: left;
    margin-left: 40px;
    margin-top: 0px;
    
   
    
}
.col-3-L {
   
    height: 31px;
}
.fotter-top .col-4-left .left .logo img{
    width:46px;
    height: 14px;
    margin-top: -10px;
    
   
}
.fotter-top .col-4-left .left li{
    font-size: 8px;
    list-style: none;
}
.fotter-top .col-4-left .col-3-L .left{
margin-left: -10px;
width: 55px;
}

.fotter-top .col-4-left .col-3-L .right{
    margin-left: 0px;
width: 55px;
float: left;
}

.fotter-top .col-4-left .col-3-L .right .col-main-left{
    width: 54px;
   
   float: left;
  
  
  
   
}
.right .col-main-left{
    margin-left: 28px;
    margin-top: 2px;
    font-size: 10px;
   
}

.community li{
    list-style: none;
    font-size: 8px;

}

.fotter-top-col-main-right{
   margin-left: -150px;
    width: 100px;
    float: right;
 
    margin-right: -150px;
    
}
.col-main-right-list .upper{
width: 110px;

height: 80px;
}
.left img{
  
    width: 50px;
    height: 50px;
    float: left;
    
}
.left span{
    font-size: 5px;
    margin: 0px;
}

  .left p{

   font-size: 8px;
}

.fotter-top-col-main-right h2{
    font-size: 10px;
    font-style: italic;
}
.fotter-top-col-main-right h2 span{
    color: white;
    font-style: italic;

}
.fotter-top-col-main-right .col-main-right-list .upper.right{
    width: 133px;
    float: left;
}
.lower img{
    margin-left: -41px;
    width: 50px;
    height: 50px;
    float: left;
    margin-top: -10px;
    
}

.right span{
    font-size: 10px;
    margin: 0px;
}

  .right p{

   font-size: 8px;
}
.col-main-right-list .lower{
    width: 110px;
    
    height: 80px;
    }
.fotter-bottom {
    
    height: 50px;
    background-color: #6bb4ad;  
    border: 1px solid;
    
}
.fotter-bottom .left{
    float: left;
    font-size: 10px;
    display: inline;
        width: 100px;
        height: 30px;
        background-color: #6bb4ad;  
        
        margin-left: 55px;
        margin-top: -150px;
    
        }

.fotter-bottom .right ul{
    margin-top: -150px;
    display: inline;
    float: right;
    margin-right: 50px;
    
}
.fotter-bottom .right ul li{
    list-style: none;
    float: left;
   margin-left: 5px;
}
.fotter-bottom .right ul li img{
    width: 15px;
    height: 15px;
}