.carousel-container{
  width: 600px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  transition: 1.9s ease;
}

.carousel-image-wrapper{
  position: relative;
  height: 600px;
  
  transition-duration: 1s;
  transition-timing-function: linear;
  
}


.carousel-image-wrapper img{
  position: absolute;
  top: 0;
  left: 0;
  
  
}

.left{
  position: absolute;
  top: 150px;
  left: 550px;
  width: 20px;
  height: 20px;
  
  cursor: pointer;
}

.right{
  position: absolute;
  top: 150px;
  right: 550px;
  width: 20px;
  height: 20px;
  
  cursor: pointer;
}

.left:hover, .right:hover {
  background: grey;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 0.11s;
  
}

.dot {
  position: absolute;
 left: 780px;
 top: 280px;
}

.dot span{
  margin-left: 2px;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot span:hover{
  background-color: grey;
}
