.game-container{
   width: 600px;
   height: 800px;
   float: left;
   margin-left: 100px;
   position: relative;
   overflow: hidden;
   margin-top: 25px;

}




@font-face {
   font-family: "flappy";
   src: url("04B_19__.TTF");

   }
   